body { background-color: #b3901d; background-image: url(img/gradient.png); }
@font-face {
  font-family: 'mario64';
  src: url('mario64.ttf') format('truetype');
}
@font-face {
	font-family: 'VCROSD';
	src: url('vcrosd.ttf') format('truetype');
}
* {cursor: url(img/cursornormal.png), auto; color: white;}
.pwfont {
	font-family: 'VCROSD';
	color: white;
}
.m64font {
	font-family: 'mario64';
	color: white;	
}
img, button {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: pixelated;
}
.menustyle {
	background-image: url(img/menu.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	background-color: rgba(0,0,0,0);
	width: 700px;
	height: 494px;
	margin: 0 auto;
	position: relative;
	box-shadow: inset 0px 0px 8px 8px #cea622;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
	width: 288px;
	height: 162px;
	-ms-transform: translate(0, -27%);
	-moz-transform: translate(0, -27%);
	-webkit-transform: translate(0, -27%);
	-o-transform: translate(0, -27%);
	transform: translate(0, -27%);
}
.newbtnstyle {
	background-image: url(img/newbtn.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	width: 280px;
	height: 82px;
	cursor: pointer;
	cursor: url(img/cursorpointer.png), auto;
	border: 0;
}
.greenbtnstyle {
	background-image: url(img/greenbtn.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	width: 110px;
	height: 82px;
	cursor: pointer;
	cursor: url(img/cursorpointer.png), auto;
	margin-bottom: 40px;
	margin-top: 10px;
	font-size: 120%;
	border: 0;
}
.bluebtnstyle {
	background-image: url(img/bluebtn.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	width: 110px;
	height: 82px;
	cursor: pointer;
	cursor: url(img/cursorpointer.png), auto;
	margin-bottom: 40px;
	margin-top: 10px;
	font-size: 120%;
	border: 0;
}
.contxt {
	margin: 75px auto;
	text-align: center;
}
.dlsect {
	text-align: center;
	min-width: 242px;
	width: 22vw;
	max-width: 300px;
	height: 390px;
	background-color: #d2a900;
	background-color: rgba(210,169,0,0.7);
	box-shadow: 3px 3px rgba(169,169,169,0.2);
	margin: 10px;
	border-radius: 10px;
}
.wikibtn {
	font-family: mario64;
	color: black;
	font-size: 105%;
	margin-top: 8px;
	width: 145px;
	cursor: pointer;
	cursor: url(img/cursorpointer.png), auto;
}
#lcm {
	cursor: pointer;
	cursor: url(img/cursorpointer.png), auto;
}